@font-face {
  font-family: "Circular";
  src: url("font/CircularStd-Book.otf");
}

.body {
  background-color: #262626;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #262626;
  font-family: "Circular";
}

.app .container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app .container .square {
  user-select: none;
  position: absolute;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  width: 300px;
  height: 300px;
  transition: transform 0.3s;
  will-change: transform;
}

.app .container .square:hover {
  transform: scale(1.12);
}

.app .container .square .title,
.app .container .square .crypto {
  font-size: 52px;
}

.app .container .square .crypto {
  margin-bottom: 20px;
}

.app .container .square .description {
  font-size: 24px;
}

.app .app-title {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  color: white;
  font-size: 32px;
  text-align: center;
  text-shadow: 3px 3px 0px black;
}

.app .arrow-container {
  position: absolute;
  bottom: 40px;
  left: 50px;
  right: 50px;
  height: 20px;
}

.app .arrow-container .legend-right {
  font-size: 20px;
  color: white;
  position: absolute;
  right: 0;
  bottom: 150%;
}

.app .arrow-container .legend-left {
  font-size: 20px;
  color: white;
  position: absolute;
  left: 0;
  bottom: 150%;
}

.app .arrow-container .arrow-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.app .arrow-container .arrow-wrapper .arrow-body {
  animation: grow 2s;
  width: 99%;
  height: 15px;
  background-color: white;
  box-shadow: 2px 2px 0px black;
}

.app .arrow-container .arrow-wrapper .arrow-right {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;
  position: absolute;
  right: 0;
  top: 0;
}

.app .arrow-container .arrow-wrapper .arrow-left {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid white;
}

.app .well-sorted {
  position: absolute;
  bottom: 60px;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
  text-shadow: 3px 3px 0px black;
}

.app .well-sorted.good {
  color: lightgreen;
  font-size: 40px;
}

.app .well-sorted.bad {
  color: lightcoral;
  font-size: 20px;
}

.app .well-sorted p {
  margin: 0;
}

.app .well-sorted a {
  font-size: 28px;
  color: inherit;
  margin: 0px;
}

.app .modal-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.app .modal-container .back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: #262626;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.app .modal-container .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 80%;
  min-height: 80vh;
  background: white;
  z-index: 2;
  opacity: 1;
  border-radius: 2px;
  padding: 32px;
  box-sizing: border-box;
  animation: happen 0.1s;
}

.app .modal-container .modal h2 {
  margin: 10px 0;
  font-size: 32px;
}

.app .modal-container .modal .container {
  display: flex;
  width: 100%;
}

.app .modal-container .modal .container .info {
  width: 30%;
  margin-right: 50px;
  font-size: 16px;
  line-height: 28px;
}

.app .modal-container .modal .container .chart {
  width: 70%;
}

@keyframes happen {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes grow {
  0% {
    width: 0%;
  }
  100% {
    width: 99%;
  }
}
